@model X.PagedList.IPagedList<Application.DTOs.PlanDTO>

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "Plans";
}

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-portlet m-portlet--full-height m-portlet--tabs">
        <div class="m-portlet__head">
            <div class="m-subheader">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h2>Plans</h2>
                    </div>
                    @if (User.IsInRole(Roles.Admin))
                    {
                        <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right m--margin-bottom-10"
                           data-toggle="modal" data-target="#add_plan_modal">
                            Add new
                        </a>
                    }
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <div class="list-group">
                @foreach (var plan in Model)
                {
                    <div class="list-group-item list-group-item-action flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">@plan.Name</h5>
                            <small>@plan.StartDate.ToString("dd/MM/yyyy")</small>
                        </div>
                        <div class="row">
                            <div class="col-10 mb-1">
                                <div class="container">
                                    <div class="row">

                                        @if (plan.Description.Length > 100)
                                        {
                                            <p>@(new String(plan.Description.Take(100).ToArray()))</p>

                                            <div id="collapse_@plan.Id" style="display:none">
                                                <p>@(new String(plan.Description.Skip(100).ToArray()))</p>
                                            </div>

                                            <a href="#collapse_@plan.Id" class="nav-toggle m--margin-left-10">Read More</a>
                                        }
                                        else
                                        {
                                            <p>@plan.Description</p>
                                        }
                                    </div>
                                </div>
                            </div>
                            <div class="col-2 text-right">
                                <a asp-controller="Worksheet" asp-action="GetPlan" asp-route-id="@plan.Id"
                                   class="m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill sp-tooltip"
                                   title="View"
                                   data-toggle="tooltip">
                                    <i class="la la-eye"></i>
                                </a>
                                @if (User.IsInRole(Roles.Admin))
                                {
                                    <a href="" class="delete-plan m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill sp-tooltip"
                                       title="Delete"
                                       data-toggle="tooltip" data-id="@plan.Id">
                                        <i class="la la-trash"></i>
                                    </a>
                                }
                            </div>
                        </div>
                        <small>
                            @(plan.IsCompleted ? plan.EndDate?.ToString("dd/MM/yyyy") : "In progress")
                        </small>
                    </div>
                }
            </div>
            <div class="m--margin-top-20">
                @Html.PagedListPager(Model, page => Url.Action("GetPlanList", new { page }), new PagedListRenderOptions
               {
                   LiElementClasses = new string[] { "page-item" },
                   PageClasses = new string[] { "page-link" }
               })
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="add_plan_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="">
                    Add a plan
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="la la-remove"></span>
                </button>
            </div>
            <partial name="~/Views/Worksheet/Partials/_NewPlan.cshtml" view-data="ViewData" model="new PlanDTO()" />
        </div>
    </div>
</div>


@section scripts{
    <script>
        $('#menu_worksheet').addClass('m-menu__item--active');
        var CreatePlanURL = '@Url.Action("CreatePlan","Worksheet")';
        var DeletePlanURL = '@Url.Action("DeletePlan", "Worksheet")';
    </script>
}

