@model Application.DTOs.PlanStepDTO
@using Core.Constants

@{
    ViewData["Title"] = "Worksheet";
}

<partial name="~/Views/Worksheet/Partials/_SideMenu.cshtml" model="Model" />

<div class="m-portlet m-portlet--full-height m-portlet--tabs m-width--100">
    <div class="m-portlet__head">

        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">

                <span class="d-lg-none m-portlet__head-icon m-brand">
                    <span class="m-stack__item m-stack__item--middle m-brand__tools">
                        <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                        <a href="javascript:;" id="m_aside_left_offcanvas_toggle"
                           class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                            <span></span>
                        </a>
                        <!-- END -->
                    </span>
                </span>
                <div class="m-subheader">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h2>@steps.ResourceManager.GetString(Model.Step)</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="m-portlet__body">

        <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">
            <!--begin::Item-->
            <div class="m-accordion__item">
                <div class="m-accordion__item-head" role="tab" id="m_accordion_1_item_1_head"
                     data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded="false">
                    <span class="m-accordion__item-icon">
                        <i class="fa fa-film"></i>
                    </span>
                    <span class="m-accordion__item-title">
                        Introduction
                    </span>
                    <span class="m-accordion__item-mode"></span>
                </div>
                <div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body"
                     role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1"
                     style="">
                    <div class="m-accordion__item-content">
                        <video width="100%" controls>
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
            <!--end::Item-->
        </div>

        @if (Model.Step == Steps.Predeparture && Model.IsAdmin)
        {
            <div id="planning_team_portlet">
                <partial name="~/Views/Worksheet/Partials/_PlanningTeam.cshtml" model="Model.PlanningTeam" />
            </div>
        }

        @if (Model.IsAdmin)
        {
            <partial name="~/Views/Worksheet/Partials/_InfoAboutUsersStatus.cshtml" model="Model" />
        }
        

        <div id="step_form_container">
            <partial name="~/Views/Worksheet/Partials/_StepForm.cshtml" model="Model" />
        </div>

    </div>
</div>


@section scripts{
    <script>
        $('#menu_worksheet').addClass('m-menu__item--active');
        var GlobalPlanId = @Model.PlanId;
        var AddNewUserToPlanURL = '@Url.Action("AddNewUserToPlan", "User")';
        var AddExistingUserToPlanURL = '@Url.Action("AddExistingUserToPlan","User")';
        var RemoveUserFromPlanURL = '@Url.Action("RemoveUserFromPlan", "User")';
        var GetPlanningTeamURL = '@Url.Action("GetPlanningTeam","Worksheet")';
        var SaveStepURL = '@Url.Action("SaveStep","Worksheet")';
        var CompleteStepTaskURL = '@Url.Action("CompleteStepTask","Worksheet")';
        var RefreshStepFormURL = '@Url.Action("RefreshStepForm", "Worksheet")';
    </script>
    <script src="~/js/step.js" type="text/javascript" asp-append-version="true"></script>
}
