@model Application.DTOs.PlanStepDTO
@using Web.Helpers

@{
    var blockIndex = (int)ViewData["BlockIndex"];
    var questionIndex = (int)ViewData["QuestionIndex"];

    var questionIndexOffset = (int)ViewData["QuestionIndexOffset"];

    var question = Model.StepBlocks[blockIndex].Questions[questionIndex];

    var answerGroup = Model.AnswerGroups.Where(x => x.QuestionId == question.Id).FirstOrDefault();

    var filledAnswer = Model.AnswerGroups[questionIndexOffset + questionIndex];

    var issues = StepHelper.GetIssues(Context, Model.PlanId);

    IssueDistinguishAnswerDTO[] copiedAnswers=new IssueDistinguishAnswerDTO[answerGroup.Answer.IssueDistinguishAnswers.Count];
    answerGroup.Answer.IssueDistinguishAnswers.CopyTo(copiedAnswers, 0);

    var issueCount = 0;

    var answerCount = 0;
}
<input type="hidden" asp-for="AnswerGroups[questionIndexOffset+questionIndex].QuestionId" value="@question.Id" />
<div class="m-accordion m-accordion--default" id="issue_accordions" role="tablist">
    @foreach (var issue in issues)
    {
        <div class="m-accordion__item">
            <div class="m-accordion__item-head collapsed" role="tab"
                 id="issue_accordion_@(issueCount)_head" data-toggle="collapse"
                 href="#issue_accordion_@(issueCount)_body" aria-expanded="false">
                <span class="m-accordion__item-title">
                    @issue.Name
                </span>
                <span class="m-accordion__item-mode"></span>
            </div>
            <div class="m-accordion__item-body collapse" id="issue_accordion_@(issueCount)_body"
                 role="tabpanel" aria-labelledby="issue_accordion_@(issueCount)_head"
                 data-parent="#issue_accordions" style="">
                <div class="m-accordion__item-content">

                    @foreach (var issueQuestion in Model.AdditionalQuestions)
                    {
                        if (answerCount > Model.AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers.Count - 1)
                        {
                            Model.AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers.Add(new IssueDistinguishAnswerDTO());
                        }

                        if (issueQuestion.Type == QuestionTypes.IssueDistinguishSelect)
                        {

                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">
                                    @(issueQuestion.Order). @issueQuestion.Title
                                </label>
                                <div class="row">
                                    <div class="col-2 col-md-1">
                                        <div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge"
                                             data-dropdown-toggle="click" data-dropdown-persistent="true">
                                            <a href="#"
                                               class=" m-dropdown__toggle  combined_result margin-top-0 dropdown-toggle">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <div class="m-scrollable" data-scrollable="true"
                                                                 data-max-height="200">
                                                                <div class="m-list-timeline">
                                                                    <div class="m-list-timeline__items">
                                                                        @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                                                        {
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @otherAnswer.Author
                                                                                </span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @if (otherAnswer.IssueDistinguishAnswers != null)
                                                                                    {
                                                                                        var issueDistinguishAnswer = otherAnswer.IssueDistinguishAnswers.Where(x => x.QuestionId == issueQuestion.Id && x.IssueId == issue.Id).SingleOrDefault();

                                                                                        var option = question.Options.Where(x => x.Id == issueDistinguishAnswer.SelectAnswer).FirstOrDefault();

                                                                                        <span>@option?.Title</span>
                                                                                    }
                                                                                </span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-11">
                                        @{
                                            Model.AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount]
                                                = copiedAnswers.Where(x => x.IssueId == issue.Id && x.QuestionId == issueQuestion.Id).SingleOrDefault() ?? new IssueDistinguishAnswerDTO();
                                            var items = issueQuestion.Options.Select(o => new SelectListItem { Text = o.Title, Value = o.Id.ToString() });

                                        }
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].QuestionId" value="@issueQuestion.Id" />
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].IssueId" value="@issue.Id" />
                                        <select asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswer"
                                                asp-items="items" class="form-control m-select2" style="width:100%">
                                            <option value="">-- Specify --</option>
                                        </select>
                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset + questionIndex].Answer"></span>
                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswer"></span>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(issueQuestion.Description))
                                {
                                    <span class="m-form__help">
                                        @issueQuestion.Description
                                    </span>
                                }
                            </div>

                        }

                        if (issueQuestion.Type == QuestionTypes.IssueDistinguishMultiSelect)
                        {
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">
                                    @(issueQuestion.Order). @issueQuestion.Title
                                </label>
                                <div class="row">
                                    <div class="col-2 col-md-1">
                                        <div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge"
                                             data-dropdown-toggle="click" data-dropdown-persistent="true">
                                            <a href="#"
                                               class=" m-dropdown__toggle  combined_result margin-top-0 dropdown-toggle">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <div class="m-scrollable" data-scrollable="true"
                                                                 data-max-height="200">
                                                                <div class="m-list-timeline">
                                                                    <div class="m-list-timeline__items">
                                                                        @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                                                        {
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @otherAnswer.Author
                                                                                </span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @foreach (var optionid in otherAnswer.MultiSelectAnswer.SelectAnswers)
                                                                                    {
                                                                                        var option = question.Options.Where(x => x.Id == optionid).FirstOrDefault();
                                                                                        <span>@option.Title;</span>
                                                                                    }
                                                                                </span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-11">
                                        @{
                                            Model.AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount]
                                                = copiedAnswers.Where(x => x.IssueId == issue.Id && x.QuestionId == issueQuestion.Id).SingleOrDefault() ?? new IssueDistinguishAnswerDTO();
                                            var items = issueQuestion.Options.Select(o => new SelectListItem { Text = o.Title, Value = o.Id.ToString() });

                                        }
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].QuestionId" value="@issueQuestion.Id" />
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].IssueId" value="@issue.Id" />
                                        <select asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswers"
                                                asp-items="items" multiple class="form-control m-select2" style="width:100%"></select>
                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset + questionIndex].Answer"></span>
                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswers"></span>
                                    </div>
                                </div>
                                @if (!string.IsNullOrEmpty(question.Description))
                                {
                                    <span class="m-form__help">
                                        @question.Description
                                    </span>
                                }
                            </div>

                        }

                        if (issueQuestion.Type == QuestionTypes.IssueDistinguishTypeSelect)
                        {
                            <div class="form-group m-form__group">
                                <label for="exampleSelect1">
                                    @(issueQuestion.Order). @issueQuestion.Title
                                </label>
                                <div class="row">
                                    <div class="col-2 col-md-1">
                                        <div class="m-dropdown m-dropdown--up m-dropdown--inline m-dropdown--huge"
                                             data-dropdown-toggle="click" data-dropdown-persistent="true">
                                            <a href="#"
                                               class=" m-dropdown__toggle  combined_result margin-top-0 dropdown-toggle">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <div class="m-dropdown__wrapper">
                                                <div class="m-dropdown__inner">
                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            <div class="m-scrollable" data-scrollable="true"
                                                                 data-max-height="200">
                                                                <div class="m-list-timeline">
                                                                    <div class="m-list-timeline__items">
                                                                        @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                                                        {
                                                                            <div class="m-list-timeline__item">
                                                                                <span class="m-list-timeline__badge"></span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @otherAnswer.Author
                                                                                </span>
                                                                                <span class="m-list-timeline__text">
                                                                                    @if (otherAnswer.BooleanAnswer)
                                                                                    {
                                                                                        <span>Strategic plan with action plan(s)</span>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <span>Strategic plan without action plan(s)</span>
                                                                                    }
                                                                                </span>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="m-dropdown__arrow m-dropdown__arrow--left"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-10 col-md-11">
                                        <div class="row">
                                            @foreach (var option in issueQuestion.Options)
                                            {
                                                <div class="col-lg-6">
                                                    <label class="m-option">
                                                        <span class="m-option__control">
                                                            <span class="m-radio radio-sp m-radio--check-bold">
                                                                <input type="radio"
                                                                       asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswer"
                                                                       value="@option.Id" checked>
                                                                <span></span>
                                                            </span>
                                                        </span>
                                                        <span class="m-option__label">
                                                            <span class="m-option__head">
                                                                <span class="m-option__title">
                                                                    @option.Title
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </label>
                                                </div>
                                            }
                                        </div>
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].QuestionId" value="@issueQuestion.Id" />
                                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].IssueId" value="@issue.Id" />

                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer"></span>
                                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset + questionIndex].Answer.IssueDistinguishAnswers[answerCount].SelectAnswer"></span>
                                    </div>
                                </div>
                            </div>

                        }

                        answerCount++;
                    }



                </div>
            </div>
        </div>

        issueCount++;
    }
</div>
