@model Application.DTOs.PlanStepDTO

@{
    var blockIndex = (int)ViewData["BlockIndex"];
    var questionIndex = (int)ViewData["QuestionIndex"];

    var questionIndexOffset = (int)ViewData["QuestionIndexOffset"];

    var question = Model.StepBlocks[blockIndex].Questions[questionIndex];

    var answerGroup = Model.AnswerGroups.Where(x => x.QuestionId == question.Id).FirstOrDefault();

    var filledAnswer = Model.AnswerGroups[questionIndexOffset + questionIndex];
}
<div class="m-demo">
    <div class="m-demo__preview">
        <div class="form-group m-form__group">
            <label>
                Combined result
            </label>
            <div>
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="bg-color-gray p-3">
                            <h5>Internal</h5>
                        </div>
                        <div class="bg-color-lightgray p-3">
                            <div class="m-list-badge m-list-badge--light-bg">
                                <div class="m-list-badge__items">
                                    @if (answerGroup.DefinitiveAnswer != null)
                                    {
                                        @foreach (var answer in answerGroup.DefinitiveAnswer.StakeholderAnswers.Where(x => x.IsInternal))
                                        {
                                            <span title="" data-toggle="tooltip" class="m-list-badge__item m-list-badge__item--default sp-tooltip" data-original-title="Definitive answer">
                                                @(answer.FirstName + " " + answer.LastName)
                                            </span>
                                        }
                                    }
                                    @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                    {
                                        @foreach (var answer in otherAnswer.StakeholderAnswers.Where(x => x.IsInternal))
                                        {
                                            <span title="" data-toggle="tooltip" class="m-list-badge__item m-list-badge__item--default sp-tooltip" data-original-title="@otherAnswer.Author">
                                                @(answer.FirstName + " " + answer.LastName)
                                            </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sx-12  col-md-6">
                        <div class="bg-color-gray p-3">
                            <h5>External</h5>
                        </div>
                        <div class="bg-color-lightgray p-3">
                            <div class="m-list-badge m-list-badge--light-bg">
                                <div class="m-list-badge__items">
                                    @if (answerGroup.DefinitiveAnswer != null)
                                    {
                                        @foreach (var answer in answerGroup.DefinitiveAnswer.StakeholderAnswers.Where(x => !x.IsInternal))
                                        {
                                            <span title="" data-toggle="tooltip" class="m-list-badge__item m-list-badge__item--default sp-tooltip" data-original-title="Definitive answer">
                                                @(answer.FirstName + " " + answer.LastName)
                                            </span>
                                        }
                                    }
                                    @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                    {
                                        @foreach (var answer in otherAnswer.StakeholderAnswers.Where(x => !x.IsInternal))
                                        {
                                            <span title="" data-toggle="tooltip" class="m-list-badge__item m-list-badge__item--default sp-tooltip" data-original-title="@otherAnswer.Author">
                                                @(answer.FirstName + " " + answer.LastName)
                                            </span>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-group m-form__group">
    <label>
        Your answer
    </label>
    <div>
        <div class="row  ">
            <div class="col-xs-12 col-md-6">
                <div class="bg-color-gray p-3">
                    <h5>Internal</h5>

                    <div class="input-group m--margin-bottom-10">
                        <input type="text" class="form-control m-input  m-input--air form-control-danger">
                        <div class="input-group-append">
                            <a href="" class="btn btn-sp m-btn m-btn--icon">
                                add
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-color-lightgray p-3">
                    <div class="m-list-badge m-list-badge--light-bg">
                        <div class="m-list-badge__items">
                            @foreach (var answer in answerGroup.Answer.StakeholderAnswers.Where(x => x.IsInternal))
                            {
                                <a class="m-list-badge__item m-list-badge__item--default">
                                    @(answer.FirstName + " " + answer.LastName) <span class="fa fa-close"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sx-12  col-md-6">
                <div class="bg-color-gray p-3">
                    <h5>External</h5>

                    <div class="input-group m--margin-bottom-10">
                        <input type="text" class="form-control m-input  m-input--air form-control-danger">
                        <div class="input-group-append">
                            <a href="" class="btn btn-sp m-btn m-btn--icon">
                                add
                            </a>
                        </div>
                    </div>
                </div>
                <div class="bg-color-lightgray p-3">
                    <div class="m-list-badge m-list-badge--light-bg">
                        <div class="m-list-badge__items">
                            @foreach (var answer in answerGroup.Answer.StakeholderAnswers.Where(x => !x.IsInternal))
                            {
                                <a class="m-list-badge__item m-list-badge__item--default">
                                    @(answer.FirstName + " " + answer.LastName) <span class="fa fa-close"></span>
                                </a>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>