@model Application.DTOs.PlanStepDTO
@using Web.Helpers

@{
    var blockIndex = (int)ViewData["BlockIndex"];
    var questionIndex = (int)ViewData["QuestionIndex"];

    var questionIndexOffset = (int)ViewData["QuestionIndexOffset"];

    var question = Model.StepBlocks[blockIndex].Questions[questionIndex];

    var answerGroup = Model.AnswerGroups.Where(x => x.QuestionId == question.Id).FirstOrDefault();

    var filledAnswer = Model.AnswerGroups[questionIndexOffset + questionIndex];

    var issues = StepHelper.GetIssues(Context, Model.PlanId);

    var count = 0;
}

@if (answerGroup.DefinitiveAnswer != null || (answerGroup.OtherAnswers != null && answerGroup.OtherAnswers.Count() > 0))
{
    <div class="m-demo">
        <div class="m-demo__preview">
            <div class="m-scrollable " data-scrollable="true" data-axis="xy">
                <table class="table m-table table-bordered m--margin-top-10 m--margin-bottom-20">
                    <thead>
                        <tr>
                            <th title="Issue">
                                Issue
                            </th>
                            <th title="IssueValue1">
                                Why is this an issue or why would you consider it to be
                                problematic /challenging?
                            </th>
                            <th title="IssueValue2">
                                What will be the consequences of not addressing this
                                issue
                                or in other words, how damaging it is for the party not
                                to
                                address the issue?
                            </th>
                            <th title="IssueValue3">
                                What should the goals of the party be in addressing this
                                issue?
                            </th>
                            <th title="IssueValue4">
                                What are the ways and means of achieving the goals
                                surrounding the strategic issue?
                            </th>
                            <th title="Ranking">
                                Ranking
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (answerGroup.DefinitiveAnswer?.StrategicIssueAnswers != null)
                        {
                            <tr class="author">
                                <td colspan="6">Definitive answer</td>
                            </tr>
                            foreach (var issueAnswer in answerGroup.DefinitiveAnswer.StrategicIssueAnswers)
                            {
                                <tr>
                                    <td>
                                        @issueAnswer.Issue
                                    </td>
                                    <td>
                                        @issueAnswer.Why
                                    </td>
                                    <td>
                                        @issueAnswer.Result
                                    </td>
                                    <td>
                                        @issueAnswer.Goal
                                    </td>
                                    <td>
                                        @issueAnswer.Solution
                                    </td>
                                    <td>
                                        @issueAnswer.Ranking
                                    </td>
                                </tr>
                            }
                        }
                        @if (answerGroup.OtherAnswers != null)
                        {
                            foreach (var otherAnswer in answerGroup.OtherAnswers)
                            {
                                <tr class="author">
                                    <td colspan="6">@otherAnswer.Author</td>
                                </tr>
                                foreach (var issueAnswer in otherAnswer.StrategicIssueAnswers)
                                {
                                    <tr>
                                        <td>
                                            @issueAnswer.Issue
                                        </td>
                                        <td>
                                            @issueAnswer.Why
                                        </td>
                                        <td>
                                            @issueAnswer.Result
                                        </td>
                                        <td>
                                            @issueAnswer.Goal
                                        </td>
                                        <td>
                                            @issueAnswer.Solution
                                        </td>
                                        <td>
                                            @issueAnswer.Ranking
                                        </td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-12">
        <label>
            @question.Title
        </label>
    </div>
</div>

<div class="m-scrollable " data-scrollable="true" data-axis="xy">
    <input type="hidden" asp-for="AnswerGroups[questionIndexOffset+questionIndex].QuestionId" value="@question.Id" />
    <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer"></span>
    <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers"></span>
    <table id="issues-master-list-table"
           class="datatable table compact m-table  table-bordered m--margin-top-10 m--margin-bottom-20">
        <thead>
            <tr>
                <th>
                    #
                </th>
                <th title="Issue">
                    Issue
                </th>
                <th title="IssueValue1">
                    Why is this an issue or why would you consider it to be
                    problematic /challenging?
                </th>
                <th title="IssueValue2">
                    What will be the consequences of not addressing this issue
                    or in other words, how damaging it is for the party not to
                    address the issue?
                </th>
                <th title="IssueValue3">
                    What should the goals of the party be in addressing this
                    issue?
                </th>
                <th title="IssueValue4">
                    What are the ways and means of achieving the goals
                    surrounding the strategic issue?
                </th>
                <th title="Ranking">
                    Ranking
                </th>
                <th class="d-none">
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var issueAnswers = answerGroup.Answer?.StrategicIssueAnswers ?? issues.Select(x => new StrategicIssueAnswerDTO
                {
                    IssueId = x.Id,
                    Issue = x.Name
                });

            }
            @foreach (var issueAnswer in issueAnswers)
            {
                <tr>

                    <td>@count</td>
                    <td>
                        @issueAnswer.Issue
                        <input type="hidden" asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].IssueId" value="@issueAnswer.IssueId" />
                    </td>
                    <td>
                        <textarea asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Why" class="form-control m-input" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Why"></span>
                    </td>
                    <td>
                        <textarea asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Result" class="form-control m-input" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Result"></span>
                    </td>
                    <td>
                        <textarea asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Goal" class="form-control m-input" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Goal"></span>
                    </td>
                    <td>
                        <textarea asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Solution" class="form-control m-input" rows="3"></textarea>
                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Solution"></span>
                    </td>
                    <td>
                        <input type="number" asp-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Ranking" class="form-control m-input" autocomplete="off" />
                        <span class="text-danger" asp-validation-for="AnswerGroups[questionIndexOffset+questionIndex].Answer.StrategicIssueAnswers[count].Ranking"></span>
                    </td>
                    <td class="d-none">
                        <input type="text" class="order" />
                    </td>
                </tr>
                count++;
            }
        </tbody>
    </table>
</div>
@if (!string.IsNullOrEmpty(question.Description))
{
    <span class="m-form__help">
        @question.Description
    </span>
}