@model Application.DTOs.PlanStepDTO

@{
    var blockIndex = (int)ViewData["BlockIndex"];
    var questionIndex = (int)ViewData["QuestionIndex"];

    var questionIndexOffset = (int)ViewData["QuestionIndexOffset"];

    var question = Model.StepBlocks[blockIndex].Questions[questionIndex];

    var answerGroup = Model.AnswerGroups.Where(x => x.QuestionId == question.Id).FirstOrDefault();

    var filledAnswer = Model.AnswerGroups[questionIndexOffset + questionIndex];

    var valuesDictionary = Web.Helpers.StepHelper.GetValuesDictionary(Context);
}

<div class="m-demo">
    <div class="m-demo__preview">
        <div class="form-group m-form__group">
            <div>
                <div class="m-scrollable mCustomScrollbar _mCS_1 mCS-autoHide" data-scrollable="true" data-axis="xy" style="position: relative; overflow: visible;">
                    <div id="mCSB_1" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
                        <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px; width: 792px;" dir="ltr">
                            <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            Value
                                        </th>
                                        <th>
                                            Definition
                                        </th>
                                        <th>
                                            How is this value expressed in our party life?
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (answerGroup.DefinitiveAnswer != null)
                                    {
                                        <tr class="author">
                                            <td colspan="3">Definitive answer</td>
                                        </tr>
                                        @foreach (var valueAnswer in answerGroup.DefinitiveAnswer.ValueAnswer)
                                        {
                                            <tr>
                                                <td>@valueAnswer.Value</td>
                                                <td>@valueAnswer.Definition</td>
                                                <td>@valueAnswer.Description</td>
                                            </tr>
                                        }
                                    }
                                    @foreach (var otherAnswer in answerGroup.OtherAnswers)
                                    {
                                        <tr class="author">
                                            <td colspan="3">@otherAnswer.Author</td>
                                        </tr>
                                        @foreach (var valueAnswer in otherAnswer.ValueAnswer)
                                        {
                                            <tr>
                                                <td>@valueAnswer.Value</td>
                                                <td>@valueAnswer.Definition</td>
                                                <td>@valueAnswer.Description</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_1_scrollbar_horizontal" class="mCSB_scrollTools mCSB_1_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 792px; max-width: 781.8px; left: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-group m-form__group">
    <div class="row">
        <div class="col-sm-12">
            <label>
                @question.Title
            </label>
            @if ((Model.IsAdmin || !Model.IsSubmitted) && !Model.IsCompleted)
            {
                <a href="" class="btn btn-sp m-btn m-btn--pill m--pull-right" data-toggle="modal" data-target="#v_@(question.Id)_modal">
                    Add
                </a>
            }
        </div>
    </div>
    <div class="m-scrollable mCustomScrollbar _mCS_2 mCS-autoHide" data-scrollable="true" data-axis="xy" style="position: relative; overflow: visible;">
        <div id="mCSB_2" class="mCustomScrollBox mCS-minimal-dark mCSB_vertical_horizontal mCSB_outside" style="max-height: none;" tabindex="0">
            <div id="mCSB_2_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position: relative; top: 0px; left: 0px; width: 860px;" dir="ltr">
                <table class="table m-table  table-bordered m--margin-top-10" width="100%">
                    <thead>
                        <tr>
                            <th>
                                Value
                            </th>
                            <th>
                                Definition
                            </th>
                            <th>
                                How is this value expressed in our party life?
                            </th>
                            @if ((Model.IsAdmin || !Model.IsSubmitted) && !Model.IsCompleted)
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody id="v_@(question.Id)_list">
                        @if (answerGroup.Answer != null)
                        {
                            string guid = "";
                            foreach (var valueAnswer in answerGroup.Answer.ValueAnswer)
                            {
                                {
                                    guid = Guid.NewGuid().ToString();
                                }
                                <tr id="@guid" data-val='@Json.Serialize(valueAnswer)'>
                                    <td>
                                        @valueAnswer.Value
                                    </td>
                                    <td>
                                        @valueAnswer.Definition
                                    </td>
                                    <td>
                                        @valueAnswer.Description
                                    </td>
                                    @if ((Model.IsAdmin || !Model.IsSubmitted) && !Model.IsCompleted)
                                    {
                                        <td>
                                            <span class="table-row-actions">
                                                <button type="button" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" onclick="deleteRecord(this, 'tr')">
                                                    <i class="la la-trash"></i>
                                                </button>
                                                <button type="button" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" onclick="showRecordDetail(this, '#v_@(question.Id)_modal')">
                                                    <i class="la la-edit"></i>
                                                </button>
                                            </span>
                                        </td>
                                        <input type="hidden" value="@guid" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer.index" />
                                        <input type="hidden" value="@valueAnswer.Id" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[@guid].Id" />
                                        <input type="hidden" value="@valueAnswer.Value" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[@guid].Value" />
                                        <input type="hidden" value="@valueAnswer.Definition" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[@guid].Definition" />
                                        <input type="hidden" value="@valueAnswer.Description" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[@guid].Description" />
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div><div id="mCSB_2_scrollbar_vertical" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 50px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 50px;"></div></div><div class="mCSB_draggerRail"></div></div></div><div id="mCSB_2_scrollbar_horizontal" class="mCSB_scrollTools mCSB_2_scrollbar mCS-minimal-dark mCSB_scrollTools_horizontal" style="display: block;"><div class="mCSB_draggerContainer"><div id="mCSB_2_dragger_horizontal" class="mCSB_dragger" style="position: absolute; min-width: 50px; display: block; width: 860px; max-width: 849.8px; left: 0px;"><div class="mCSB_dragger_bar"></div></div><div class="mCSB_draggerRail"></div></div></div>
    </div>
    <span class="m-form__help">
        @question.Description
    </span>
    <input type="hidden" asp-for="AnswerGroups[questionIndexOffset+questionIndex].QuestionId" value="@question.Id" />
</div>
@if ((Model.IsAdmin || !Model.IsSubmitted) && !Model.IsCompleted)
{
    <div class="modal fade" id="v_@(question.Id)_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="">
                        Add value statement
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="la la-remove"></span>
                    </button>
                </div>
                <div class="m-form m-form--fit m-form--label-align-right">
                    <div class="modal-body">
                        <input type="hidden" class="m-index" />
                        <input type="hidden" class="m-input" name="id" />
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Value
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <input class="form-control m-input m-values-autocomplete" name="value" />
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                Definition
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <textarea class="form-control m-input" rows="3" name="definition"></textarea>
                            </div>
                        </div>
                        <div class="form-group m-form__group row m--margin-top-20">
                            <label class="col-form-label col-lg-3 col-sm-12">
                                How is this value expressed in our party life?
                            </label>
                            <div class="col-lg-9 col-md-9 col-sm-12">
                                <textarea class="form-control m-input" rows="3" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-sp m-btn submit-btn" onclick="editRecord('#v_@(question.Id)_modal', '#v_@(question.Id)_list');">
                            Add
                        </button>
                        <button type="button" class="btn btn-secondary m-btn" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        if (fieldOptions === undefined) {
            var fieldOptions = {};
        }

        if (fieldOptions['valuesDictionary'] == undefined) {
            fieldOptions['valuesDictionary'] = @Json.Serialize(valuesDictionary);
        }

        fieldOptions['#v_@(question.Id)_list'] = {
            template: function (data, index) {
                return `
                    <tr id="${index}" data-val='${JSON.stringify(data)}'>
                        <td>
                            ${data.value}
                        </td>
                        <td>
                            ${data.definition}
                        </td>
                        <td>
                            ${data.description}
                        </td>
                        <td>
                            <span class="table-row-actions">
                                <button type="button" class="table-row-delete m-portlet__nav-link btn m-btn m-btn--hover-danger m-btn--icon m-btn--icon-only m-btn--pill" title="Delete" onclick="deleteRecord(this, 'tr')">
                                    <i class="la la-trash"></i>
                                </button>
                                <button type="button" class="table-row-edit m-portlet__nav-link btn m-btn m-btn--hover-primary m-btn--icon m-btn--icon-only m-btn--pill" title="Edit" onclick="showRecordDetail(this, '#v_@(question.Id)_modal')">
                                    <i class="la la-edit"></i>
                                </button>
                            </span>
                        </td>
                        <input type="hidden" value="${index}" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer.index"/>
                        <input type="hidden" value="${data.id ? data.id : 0}" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[${index}].Id"/>
                        <input type="hidden" value="${data.value}" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[${index}].Value"/>
                        <input type="hidden" value="${data.definition}" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[${index}].Definition"/>
                        <input type="hidden" value="${data.description}" name="AnswerGroups[@(questionIndexOffset + questionIndex)].Answer.ValueAnswer[${index}].Description"/>
                    </tr>
                `;
            }
        };
    </script>
}